<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BSR Power Constructions </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>
    #heading{
      color:rgb(255,102,0)
    }
    #footer{
      text-align:center;
    }
    body{
      background-image:linear-gradient(lightskyblue,white,skyblue)
    }
  </style>
</head>
<body>
  {% include 'nav.html' %}
  <div class="container mt-4 mb-4">
    <h4 id="heading">CLIENTS:</h4>
    <p>BSRPCPL owes its success primarily to the unstinted support given by its satisfied customers. It believes in serving its customers for life time – be it offering quality, price, performance and convenience. Its track record in keeping its customers for life time has made it the undisputed market leader in both the telugu states . It enjoys the reputation of being a credible and capable vendor to all its customers. Its customers include very large corporate buyers to very small retail buyers.</p>
<p>BSRPCPL’s customer segments are broadly classified into: Government, Corporate and Retail. The Government segment includes government-controlled State Electricity Boards and Power Distribution Companies. The Corporate segment covers all major companies that take up large projects in the power transmission and distribution sector. The retail segment includes all those contractors who buy poles in small quantities for the purpose erecting new poles or replacing old pole.</p>
<p>The partial list of key customers in the government and corporate segment are listed below. These buyers are typically very large buyers.</p>
<ul>
  <li>APEPDCL (ANDHRA PRADESH EASTERN POWER DISTRIBUTION COMANY LIMITED)</li>
<li>APCPDCL (ANDHRA PRADESH CENTRAL POWER DISTRIBUTION COMPANY LIMITED)</li>
<li>APSPDCL (ANDHRA PRADESH SOUTHERN POWER DISTRIBUTION COMPANY LIMITED)</li>
<li>TSSPDCL (TELENGANA STATE SOUTHREN POWER DISTRIBUTION COMPANY LIMITED)</li>
<li>TSNPDCL (TELENGANA STATE NORTHERN POWER DISTRIBUTION COMPANY LIMITED)</li>
<li>WBSEDCL</li>
<li>L&T</li>
<li>MANY OTHER SMALL-SCALE INDUSTRIES & AGRICULTURAL</li>
</ul>

    <h4 id="heading">PROJECTS:</h4>
    <ul>
      <li>KALACHAKRA in the year 2006.</li>
      <li>FIRST SUBSTATION IN GUNTUR – PIRANGIPURAM (33KVA) -1999.</li>
      <li>RGGVY – ANDHRAPRADESH -2009.</li>
      <li>DDUGJY – TELENGANA -2014 to till Date.</li>
    </ul>
    <p>Our company has been working on System Improvement Project for conversion of existing LT network into HVDS in Narasaraopet & Macherla Division of Guntur Dist. Under REC scheme from 2016 to till date.<br> We are currently venturing with Government of Andhra Pradesh prestigious project “NAVARATNALU – PEDALANDARIKI ILLU” in which we have taken up Jagananna Housing colonies.</p>
    
  </div>

<hr>
  {% include 'footer.html' %}

</body>
</html>